name: CI

on:
  push:
    # only trigger action if commits to master branch are pushed,
    # to prevent the action from being executed twice on pull requests
    branches:
      - master
  pull_request:

jobs:
  testsuite:
    name: all tests
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          coverage: none
          tools: composer:v2
      - name: "Composer Install"
        run: "composer install"
      - name: "Run Static Code Analysis"
        run: "composer ci:static"
      - name: "Run BDD Tests"
        run: "composer ci:test:behat"
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.3', '8.4', '8.5' ]
